<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>
      Damn, <%= @player_2.name %> got hit!
      <%= @player_2.name %>'s HP = <%= @player_2.hp %>
    </p>
  </body>
</html>
