<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Game Over Screen</title>
    <style media="screen">
      body {
        background-image: url("/win1.jpg");
        font-family: helvetica;
        color: white;
      }
    </style>
  </head>
  <body>
    <center>
    <h1>
      <%= @game.turn.name %> Wins!!!
    </h1>

    <h2> Game Over</h2>
  </center>
  </body>
</html>
