<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      body{
        background-image: url("/welcomev2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
      }
      .submit{
        background-color: rgba(255, 0, 0, 0.7);
        border-color: inherit;
        border-style: outset;
        border-radius: 5px;
        padding: 5px 20px;
        color: white;
        font-family: 'UnifrakturCook', cursive;
        font-size: 20px;
      }
      h1{
        font-family: 'UnifrakturCook', cursive;
        font-size: 70px;
        text-shadow: 0 0 3px #FF0000;
        margin-bottom: 40px;
      }
      h3{
        font-family: 'UnifrakturCook', cursive;
        font-size: 35px;
      }
      label{
        font-family: 'UnifrakturCook', cursive;
        font-size: 20px;
      }
      .rules{
        margin-top: 90px;
        background-color: rgba(10,10,10,0.5);
        border-radius: 10px;
        width: 1000px;
        padding-left: 6px;
        padding-right: 6px;
        color: white;
      }
      ul{
        text-align: left;
      }
    </style>
  </head>
  <body>
    <center>
    <h1>Welcome to Battle</h1>
    <h3>Enter your names below to play</h3>
    <form action="/names" method="post">
      <div class="">
        <label for="player_1">
          Player 1
        <input type="text" name="player_1_name">
        </label>
      </div>
      <div class="">
        <label for="player_2">
          Player 2
        <input type="text" name="player_2_name">
        </label>
      </div>
      <div class="">
        <input class="submit" type="submit" value="Submit">
      </div>
      <br>
      <div class="rules">
        <h2>How to play</h2>
        Players battle eachother by taking turns to attack each other.  The game is
        over when a player's hit points (HP) goes down to 0.
        <br>
        <h4>Players have the following options of attack:</h4>
        <ul>
          <li>Attack - This will deal a random amoutn of damage between 1-10 HP</li>
          <li>Paralyze - This attack has a 1 in 3 chance of causing the opposing player to be paralysed, meaning they miss a turn</li>
          <li>Poison - This attack has a 1 in 3 chance of poisoning the opponent which will mean the opponent will lose between 1-6 HP on their next turn</li>
          <li>Sleep - This attack has a 1 in 3 chance of causing the opposing player to fall asleep, meaning they miss a turn</li>
          <li>Heal - This will return a random amount of helath (between 1-10 HP)</li>
        </ul>
      </div>
    </center>
    </form>
  </body>
</html>
