<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Battle!</h1>
    <h2>Sign in play</h2>
    <form action="/names" method="post">
      <label for="player_1">
        Player 1
      <input type="text" name="player_1_name">
      </label>
      <label for="player_2">
        Player 2
      <input type="text" name="player_2_name">
      </label>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
